<div class="pokemon-list-container">
  <div class="pokemon-list-container__content">
    <div class="pokemon-list-container__content__load-more-button-container">
      <button mat-flat-button color="primary" (click)="onLoadMore()">
        Load More
      </button>
    </div>

    <div class="pokemon-list-container__content__search-container">
      <form>
        <mat-form-field class="pokemon-list-container__content__search-container__input">
          <mat-label>Search Pokemon</mat-label>
          <input
            matInput
            placeholder="Ex. Pikachu"
            [(ngModel)]="searchCriteria"
            name="searchCriteria"
            (keyup)="searchPokemon()"
          >
        </mat-form-field>
      </form>
    </div>

    <div class="pokemon-list-container__content__table-container">
      <table mat-table [dataSource]="displayPokemonList" class="pokemon-list-container__content__table-container__table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">Visualizar</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary">
              <a (click)="onSelectPokemon(element)">
                View
              </a>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
